@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --max-w: 1440px;
}

@theme inline {
  --font-supply: var(--font-supply-medium);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark-bg: #171717;
  --color-dark-green: #22560f;
  --color-border: #494949;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.container {
  max-width: var(--max-w);
  margin: 0 auto;
  padding: 0 40px;

  @media (max-width: 768px) {
    padding: 0 0px;
  }
}

.gradient-to-bottom {
  background: linear-gradient(180deg, #6c924a 0%, #212c16 100%);
}

.gradient-to-right {
  background: linear-gradient(90deg, #6c924a 0%, #212c16 100%);
}
